@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.navbar-inverse {
  background-color: #03a0d8;
  border-color: #03a0d8;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  border-radius: 25px;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #777777;
  background-color: #204d74;
}
/* footer */

footer {
  position: fixed;
  bottom: 20px;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.user-edit {
  width: 33%;
}
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}
.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.task-subject {
  display: none;
}
.block {
  display: table-row !important;
}
.subject-content {
  width: 33%;
}
.course-content {
  ul > li {
    list-style: none;
    margin: 5px;
  }
  li {
    list-style-type: decimal;
  }
  h3, h1 {
    color: green;
  }
}
.submit-btn {
  width: 25%;
  margin: 5px;
}
.course-subject {
  h3 {
    color: green;
  }
}
.hl-button {
  display: inline-block;
  margin: 5px;
  width: 275px;
}
.hl-button2 {
  display: inline-block;
  margin: 20px;
  width: 275px;
}
.edit_user_task {
  display: inline-block;
}
.back {
  margin: 5px;
}
.user_info {
  margin-top: 50px;
}
.progress{
  width: 350px  
}
