<table>
  <tr>
    <td class="user-edit"><%= link_to user.name, "#" %></td>
    <td class="user-edit"><%= user.email %></td>
    <% unless user.admin? %>
      <td class="user-edit">
        <%= link_to t(:edit), edit_admin_user_path(user),
          class: "btn btn-primary" %>
      </td>
      <td class="user-edit">
        <%= link_to t("destroy.button"), admin_user_path(user),
          method: :delete,
          data: {confirm: t("destroy.confirm", name: user.name)},
          class: "btn btn-danger" %>
      </td>
    <% end %>
  </tr>
</table>
