<% provide :title, t("devise.registrations.edituser") %>
<div class="col-md-6 col-md-offset-3 courses">
  <h1><%= t "devise.registrations.edituser" %></h1>
  <%= render "devise/shared/admin_user_form" %>
</div>
