<% provide :title, @course.name %>
<h1><%= @course.name %></h1>
<div class="center"><%= @course.description %></div>
<ul class="subjects">
  <% if @course.course_subjects.any? %>
    <ol>
      <% @course.course_subjects.each do |course_subject| %>
        <li>
          <%= course_subject.subject.name %>
        </li>
      <% end %>
    </ol>
  <% end %>
</ul>
